<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!--
    This theme is used by ComposeTestRules
    Use a no-action-bar theme to prevent overlapping with the action bar during tests.
    Theme_Material_Light_NoActionBar is the base theme used by the production app.
    -->
    <application android:theme="@android:style/Theme.Material.NoActionBar" />
</manifest>
